[tool.black]
line-length = 100
target-version = ['py37', 'py38', 'py39']
include = '\.pyi?$'
exclude = 'typings/'

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--verbose --cov=datamol"
testpaths = ["tests"]
filterwarnings = ["ignore::DeprecationWarning:rdkit.*:"]

[tool.coverage.run]
omit = ["setup.py", "tests/*", "SA_Score/*"]
disable_warnings = ["no-data-collected"]

[tool.coverage.xml]
output = "coverage.xml"

[tool.mypy]
exclude = []
ignore_missing_imports = true
