name: test

on:
  push:
    branches: ["main"]
    tags: ["*"]
  pull_request:
    branches:
      - "*"
      - "!gh-pages"

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9"]
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        rdkit-version: ["2021.09", "2022.03"]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Setup conda
        # see https://github.com/mamba-org/provision-with-micromamba/issues/54
        uses: mamba-org/provision-with-micromamba@0262775830d4abaedede06025aece997d53eb862
        with:
          environment-file: false
          cache-downloads: true

      - name: Setup conda env
        run: |
          micromamba activate

          # Patch the conda env file to specify the Python and RDKit version
          micromamba install -c conda-forge --yes pyyaml

          python .github/patch_conda_env.py --env env.yml -d \
            python="${{ matrix.python-version }}" \
            rdkit="${{ matrix.rdkit-version }}" \
            > env-patched.yml

      - name: Install Dependencies
        run: |
          micromamba activate
          micromamba create -n datamol -f env-patched.yml

      - name: Install library
        run: |
          micromamba activate datamol
          python -m pip install -e .  # `-e` required for correct `coverage` run.

      - name: Run tests
        run: |
          micromamba activate datamol
          pytest

      - name: Codecov Upload
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true
          verbose: false
          env_vars: ${{ matrix.os }},${{ matrix.python-version }},${{ matrix.rdkit-version }}

      - name: Test building the doc
        run: |
          micromamba activate datamol

          # Build and serve the doc
          mkdocs build
